.App {
  text-align: center;
  height: 100vh;
  width: 100vw;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.other-larger-header {
  font-size: 4rem;
  color: #ffffff;
  font-weight: bold; 
}

.other-larger-header2 {
  font-size: 2rem;
  color: #ffffff;
}


.other-larger-header3 {
  font-size: 2rem;
  margin-top: -1rem;
  color: #ffffff;
}

.Login,
.login-form,
.Register,
.register-form {
  display: flex;
  flex-direction: column;
  color: white;

}

.login-form {
  width: 70%;
  margin-left: 15%;
}

.register-form {
  width: 70%;
  margin-left: 15%;
}


.login-form2 {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 2rem;
}




.CS-input {
  border-radius: 25px;
  border: none;
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  outline: 0;
}


.Login {
  /* padding: 15rem 13rem; Adjust the padding as per your preference */
  max-width: 500rem; /* Set a maximum width for the form */
  /* margin: auto; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  font-size: 3rem;
  margin-left: -13%;
  margin-right: 2%;
  width: 35%;
  height: 50%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 10%;
}




.Register {
  /*padding: 15rem 13rem;  Adjust the padding as per your preference */
  max-width: 500rem; /* Set a maximum width for the form */
  margin: auto;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  font-size: 2rem;
  margin-left: -10rem;
  height: 50%;
  width: 30%;
  padding-left: 1%;
  padding-right: 1%;

}



.larger-header {
  margin: 0 0 30px -5rem;
  margin-left: 1.5rem;
  text-align: center;
  display: inline;
  white-space: nowrap; 
  overflow:visible; 
  text-overflow: ellipsis;
  margin-top: -5rem;
} 

label {
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
  text-align: left;
}

.type-header {
  white-space: nowrap; /* Prevent line breaks */
  overflow:visible; /* Hide overflow */
  text-overflow: ellipsis;
}




.label-text {
  margin-left: 15px;
}

.option2 {
  margin-bottom: 20px;
}


.option-bubble {
  margin-left: 15px;
}

input[type="name"],
input[type="password"],
input[type="email"],
input[type="doctorsearch"]
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  height: auto;
  outline: 0;
  padding: .7rem;
  width: 100%; /* Set the width to 100% to fill the container */
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
  text-align: left;
}

button {
  border: none;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #000000;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  border-radius: 25px;
  font-weight: bold;
  margin-left: 1.7rem;
}

button:hover {
  background-color: rgb(166, 208, 239);
}

.split {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.right-side {
  width: 65%;
  background-color: rgb(240, 240, 240);
  margin-right: -41rem;
  /* height: 100%; */

}

.right-side2 {
  width: 62%;
  background-color: rgb(240, 240, 240);
  /* margin-right: -50rem; */
  margin-left: 1rem;
  /* height: 830px; */
}


.stock {
  height: 50%;
  width: 60%;
  margin-top: -3rem;
  border: #282c34;
  border-radius: 20px;
  box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: relative; 
  margin-left: 2rem;
}


.stock2 {
  height: 50%;
  width: 75%;
  padding: 30px;
  background-color: white;
  margin-top: 7rem;
  border: #282c34;
  border-radius: 20px;
  box-shadow: 10px 10px 40px 40px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: relative; 
  margin-left: 0rem;

}
.right-side-text {
  font-family: Arial;
  font-size: 3rem;
  font-weight: bolder;
  color: #060f3c;
}



.rst-box {
  background-color: #fff;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 20px;
  margin-top: 7rem;
  margin-left: 3rem;
  text-align: center; 
  width: 65%;
  z-index: 2;
  position: relative;
}


.rst-box2 {
  background-color: #fff;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 20px;
  margin-top: -3rem;
  margin-left: 15rem;
  text-align: center; 
  height: 5%;
  width: 55%;
  z-index: 2;
  position: relative;
}


.sm-logo {
  width: 14rem;
  margin-top: 1.2rem;
  
}

.sm-logo2 {
  margin-left: 0rem;
  width: 13rem;
  margin-top: 1.2rem;
}

.CC-sm-logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 14rem;
  /* margin-left: -74rem;
  margin-bottom: 10rem;
  margin-top: .8rem; */
}

.CCinfo {
  margin-top: 15%;
  height: 70px;
}

.CSinfo2 {
  margin-top: 20%;
  height: 70px;
}

.CS-sm-logo {
  margin-left: -74rem;
  margin-bottom: 15rem;
  width: 13rem;
  margin-top: 1.2rem;
}

.CS-page {
  margin-bottom: 30rem;
}

.CS-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.calendar-logo {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem ;
}


.error {
  font-size: 17.5px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 3rem;
  color: rgb(235, 69, 69);
  font-weight: bold;
  max-width: 15rem;
}

.link-to-creation {
  margin-left: 1.5%;
  margin-top: 3%;
  color: white;
  font-weight: bold;
}

.react-big-calendar {
  background-color: #e8eeef;
}

.error2 {
  font-size: 17.5px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 0rem;
  color: rgb(235, 69, 69);
  font-weight: bold;
}

.User-CC-error {
  font-size: 17.5px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(235, 69, 69);
  font-weight: bold;
  max-width: 50rem;
}

.Create-CC-error {
  font-size: 17.5px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 2rem;
  color: rgb(235, 69, 69);
  font-weight: bold;
  
}

.CS-error {
  font-size: 17.5px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: -2rem;
  color: rgb(235, 69, 69);
  font-weight: bold;
  max-width: 50rem;
}

.TOS-header {
  color: #e8eeef;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 4rem;
}

.TOS {
  color: #e8eeef;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  width: 50rem;
  
}

/* Homepage.css */
.tos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* This will ensure the container takes up the full viewport height. */
}

.TOS-subheader {
  color: #e8eeef;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 2rem;

}


.CompCreation-form {
  width: 40%;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  color: white;
}

.CompCreation-form3 {
  width: 40%;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  color: white;
}

.logbutton2 {
  margin-top: 5%;
  width: 50%;
  margin-left: 25%;
}

